* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("assests/bg.jpg");
  background-size: cover;
}

h1 {
  text-align: center;
  top: 1em;
  font-size: 2.5em;
  margin: 0 auto;
  position: fixed;
  font-weight: bold;
}

.Main_Container {
  margin-top: 7em;
  margin-left: 30em;
  display: flex;
  flex-wrap: wrap;
  width: 38em;
  height: 38em;
}

.square {
  border: 1px solid black;
  opacity: 0.6;
}

.square:hover {
  background-color: green;
}

.saved {
    background-color: green;
}

ul {
  list-style: none;
  display: flex;
}

button {
  padding: 0.25em;
  margin: 0.5em;
}

/* Responsive add Media Queries need Testing */
/* @media (min-width: 768px) {
    .square {
      width: 6.6%;
      height: 6.6%;
    }
  }
  @media (min-width: 1024px) {
    .square {
      width: 4%;
      height: 4%;
    }
  } */
