* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("assets/bg.jpg");
  background-size: cover;
  background-position: center;
}

h1 {
  text-align: center;
  top: 1em;
  font-size: 2.5em;
  margin: 0 auto;
  position: fixed;
  font-weight: 900;
  text-shadow: 0.1rem 0.1rem 0.3rem #2eb62c;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  border-radius: 1rem;
  border-color: transparent;
}

.Main_Container {
  margin-top: 7em;
  margin-left: 5em;
  display: flex;
  flex-wrap: wrap;
  width: 38em;
  height: 38em;
}

.square {
  border: 1px solid black;
  opacity: 0.6;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.options_container {
  margin-top: 14em;
  margin-left: 28em;
}

fieldset {
  border-radius: 1rem;
  border: 5px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}

legend {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 900;
  text-shadow: 0.1rem 0.1rem 0.3rem #2eb62c;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
}

li {
  display: flex;
  justify-content: center;
  margin: 0.3em;
}

button {
  padding: 0.25em;
  margin: 0.5em;
  font-size: 1rem;
  font-weight: 900;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  border-radius: 1rem;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  backdrop-filter: blur(22px);
  background-color: rgba(255, 255, 255, 1);
  text-shadow: 0.2rem 0.1rem 0.3rem #2eb62c;
}

/* Dark Mode */
.dark-mode {
  background: #111;
  color: #fff;
}

.dark-mode h1 {
  color: #ccc;
}

.dark-mode .Main_Container {
  background: #111;
  border: 1px solid #ccc;
}

.dark-mode .square {
  background: #444;
  border: 1px solid #ccc;
  opacity: 1;
}

.dark-mode .saved {
  background: #222;
}

/* Light Mode */
.light-mode {
  background: #fff;
  color: #333;
}

.light-mode h1 {
  color: #000;
}

.light-mode .Main_Container {
  background: #fff;
  border: 1px solid #999;
}

.light-mode .square {
  background: #f3f3f3;
  border: 1px solid #999;
  opacity: 0.6;
}

.light-mode .saved {
  background: #8d8c8c;
}

/* Responsive add Media Queries need Testing */
/* @media (min-width: 768px) {
    .square {
      width: 6.6%;
      height: 6.6%;
    }
  }
  @media (min-width: 1024px) {
    .square {
      width: 4%;
      height: 4%;
    }
  } */
