*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*  This is for 16 by 16
.Main_Container {
    border:2px solid black;
    margin-top: 2em;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 50em;
    height: 50em;
}

.square {
    border: 1px solid black;
    justify-content: space-evenly;
    align-self: center;
    width: 3.11em;
    height: 3.11em;
} */

/* Trying to make it for 50 by 50 now */
.Main_Container {
    /* border:2px solid black; */
    margin-top: 7em;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 37.7em;
    height: 37.87em;
    padding: 0;
}

.square {
    border: 1px solid black;
    justify-content: space-evenly;
    align-self: center;
    width: .7546em;
    height: .7013em;
    padding:0;
}

.square:hover {
    background-color: blue;
}
